.foot1{
   
    margin-top: 100px;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    
}
.ff1{
    align-self: center;
    text-align: center;
}
.ff2{
    align-self: center;
    text-align: center;
}
.ff3{
    align-self: center;
}
.icon{
    font-size: 25px;
}
.f{
    padding-bottom: 15px;
}