.form-control{
    padding: 2px 5px 2px 5px;
    font-size: 22px;
    margin-bottom: 20px;
}
.form-control:active{
    border-color: #3c6a15;
    
}
.btnregis{
    width: 500px;
    background-color: #3c6a15;
    font-size: 22px;
    border: none;
}
.btnregis:hover{
    background-color: #27420e;
}